<html>
 <head>
  <title>Informations:</title>
 </head>
 <body>
  <h>shell: &lt lscpu &gt, general information</h> 
   <ul>
    {% for item in base_info.stdout_lines %}
     <li>"{{item}}"</li>
    {% endfor %}
   </ul>
  <h>shell: &lt vmstat &gt, virtualmemory informations.</h>
   <ul>
    {% for item in mem_info.stdout_lines %}
     <li>"{{item}}"</li>
    {% endfor %}
   </ul>
  <h>shell: &lt free -m &gt, free memory (in megabyte)</h>
   <ul>
    {% for item in free_mem.stdout_lines %}
     <li>"{{item}}"</li>
    {% endfor %}
   </ul>
  <h>shell: &lt netstat -a | more &gt, network informations</h>
   <ul>
    {% for item in net_info.stdout_lines %}
     <li>"{{item}}"</li>
    {% endfor %}
   </ul>
 </body>
</html>
